@model IEnumerable<ProjektSklepGryWideo.Models.Game>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>
 @if (User.IsInRole("Admin")){
<p>
    <a asp-action="Create">Create New</a>
</p>
 }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Developer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Developer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) PLN
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Platform)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                else if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <form asp-action="AddToCart" asp-controller="CartItems" method="post">
                            <input type="hidden" name="gameId" value="@item.Id" />
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
  
                    </td>
                }
            </tr>
}
    </tbody>
</table>
